/**
 * vincentguillaume theme
 *
 * @author Guillaume VINCENT
 * @version 1.0.0
 */
 
body{
margin: 0px;
font-family: 'Ubuntu', sans-serif;
font-size: 15px;
text-align: justify;

background: #F0EBE8; 
color: #2a2a2a;
padding-top: 60px;
}

.main-content h1 {
    padding: 30px 0;
}

.main-content h2 {
    padding: 10px 0;
}

.main-content li {
    padding: 4px;
}

.gold{
color: #D4AF37;
font-weight:bold;
}

blockquote{
border-left: 0px;
padding: 0px;
}

td.centerText,th.centerText{
   text-align: center;
}

ul.polaroids { width: 970px; margin: 0 0 18px -30px; font-family: "Comic Sans MS";}
ul.polaroids li { display: inline; }
ul.polaroids a { background: #fff; display: inline; float: left; margin: 0 0 27px 30px; width: auto; padding: 10px 10px 15px; text-align: center; font-family: "Marker Felt", sans-serif; text-decoration: none; color: #333; font-size: 18px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transform: rotate(-2deg); -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(-2deg); }
ul.polaroids img { display: block; width: 190px; margin-bottom: 12px; }
ul.polaroids a:after { content: attr(title); }

ul.polaroids li:nth-child(even) a { -webkit-transform: rotate(2deg);  -moz-transform: rotate(2deg); }
ul.polaroids li:nth-child(3n) a { -webkit-transform: none; position: relative; top: -5px;  -moz-transform: none; }
ul.polaroids li:nth-child(5n) a { -webkit-transform: rotate(5deg); position: relative; right: 5px;  -moz-transform: rotate(5deg); }
ul.polaroids li:nth-child(8n) a { position: relative; right: 5px; top: 8px; }
ul.polaroids li:nth-child(11n) a { position: relative; left: -5px; top: 3px; }

ul.polaroids li.messy a { margin-top: -375px; margin-left: 160px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); }

ul.polaroids li a:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5; }

#homepage .description {
    font-style: italic;
    font-size: 0.8em;
}

#homepage-sponsors a img {
    padding: 10px 20px;
}

#homepage-video {
    padding: 30px;
}

#previous-years-sites {
    padding-top: 10px;
    padding-left: 20px;
}