<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ page.title }}</title>

        <meta charset="utf-8" />
        <meta name="description" content="Le site de l'agile tour bordeaux propulsé par okiwi">
        <meta name="author" content="okiwi">
        <link rel="icon" type="image/png" href="img/okiwi_thumb.png" />

        <link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap-responsive.min.css">

        <link rel="stylesheet" href="static/css/style.css" />
        <link rel="stylesheet" href="static/lib/countdown/jquery.countdown.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <script src="static/lib/jquery/jquery.min.js"></script>
        <script src="static/lib/jquery/jquery.custom.min.js"></script>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <div class="span4 miniMenu">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <div class="menuIcon">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <div class="menuText">Menu</div>
                        </a>
                        <h1><a href="index.html" title="Agile Tour Bordeaux 2012"><span>Agile Tour Bordeaux 2012</span></a></h1>
                    </div>

                    <div class="nav-collapse span8 noLeftMargin">
                        <ul class="nav">
                            <li><a href="presentation.html" class="presentation-link">Présentation</a></li>
                            <li><a href="pourquoivenir.html" class="viens-link">Viens !</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle programmation-link" data-toggle="dropdown">Programme<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://lightningtalk.herokuapp.com/">Lightning Talks</a></li>
                                    <li><a href="programme.html">Programmation</a></li>
                                    <li><a href="orateurs.html">Orateurs</a></li>
                                    <li><a href="training.html">Training</a></li>
                                </ul>
                            </li>    
                            <li>
                                <a href="informations_pratiques.html" class="infospratiques-link">Info</a>
                            </li>
                            <li>
                                <a href="equipe.html" class="equipe-link">Equipe</a>
                            </li>
                            <li>
                                <a href="sponsors.html" class="sponsors-link">Sponsors</a>
                            </li>
                        </ul>
                        <div class="btn-group social">
                            <a href="http://www.facebook.com/Agiletourbordeaux" class="facebook"><span>Facebook</span></a>
                            <a href="http://twitter.com/okiwi_fr" class="twitter"><span>Twitter</span></a>
                            <a href="https://plus.google.com/u/0/events/cqotp15cf2eso0rr8gc0uit8mak/101137288862468153673" class="googleplus"><span>Google +</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="container">
            
            {{content}}

        </div>
        
        <div id="footer" class="container row">
            <div class="span4">
                <a href="mailto:contact@okiwi.org"><b>Evènement terminé</b></a>
            </div>
            <div class="span7 noLeftMargin">
                <p>L'Agile Tour Bordeaux est un évènement propulsé par <a href="http://okiwi.org">Okiwi</a><img src="static/img/favicon.png" class="okiwi" /></p>
            </div>
            <div class="span1">
                <a href="https://twitter.com/i/#!/search/?q=%23atbdx">#atbdx</a>
            </div>
        </div>

        <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/lib/icanhaz/ICanHaz.min.js"></script>
        <script src="static/lib/icanhaz/ICanHaz-utils.js"></script>
        <script src="static/lib/underscore-min.js"></script>
        <script src="static/lib/backbone-min.js"></script>
        

        <!--google analytics-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33933906-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
