<div class="container">
    <h2 class="section-title">
        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-calendar fa-stack-1x"></i></span></span>
        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Programme</span>
    </h2>
    <!-- <h3 class="caption-title">Le programme est en cours de préparation, encore un peu de patience !</h3> -->
    <h3 class="caption-title">Voici le programme pour l'édition 2023</h3>
    <br>
    <p>Cette année, l'événement sera sur le thème "qualité et résilience : complices de votre amélioration continue"</p>
    <script type="text/javascript" src="https://sessionize.com/api/v2/urjz4fxx/view/GridSmart"></script>
</div>