
<!-- PAGE LISTE SPONSORS -->
	<div class="container">
		<h1 class="section-title">
            <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-trophy fa-stack-1x"></i></span></span>
            <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Les sponsors de l'Agile Tour Bordeaux 2023</span>
        </h1>
		<p>Nous remercions chaleureusement tous nos sponsors et partenaires, sans qui l'événement ne pourrait avoir lieu.</p>
		<div class="row"> 
			<div><a href="https://www.3is.fr/bordeaux/" target="_blank"><img src="/static/img/sponsors/3is.png" alt="3IS" /></a></div>
			<!-- <div><a href="https://www.akka-technologies.com/" target="_blank"><img src="/static/img/sponsors/akka.png" alt="Akka" /></a></div> -->
			<!-- <div><a href="https://apside.com/" target="_blank"><img src="/static/img/sponsors/apside.png" alt="Apside" /></a></div> -->
			<!-- <div><a href="https://www.cm-arkea.com" target="_blank"><img src="/static/img/sponsors/credit_mutuel_arkea.png" alt="Crédit Mutuel Arkea" /></a></div> -->
			<!--div><a href="https://astekgroup.fr/" target="_blank"><img src="/static/img/sponsors/astek.png" alt="Astek" /></a></div-->
			<!-- <div><a href="https://www.atinternet.com/" target="_blank"><img src="/static/img/sponsors/atinternet.png" alt="AT Internet" /></a></div> -->
			<!-- <div><a href="https://www.betclic.fr/" target="_blank"><img src="/static/img/sponsors/betclic.png" alt="Betclic" /></a></div> -->
			<div><a href="https://www.betomorrow.com/" target="_blank"><img src="/static/img/sponsors/betomorrow.png" alt="BeTomorrow" /></a></div>
			<!-- <div><a href="https://www.capgemini.com/fr-fr/" target="_blank"><img src="/static/img/sponsors/capgemini.png" alt="Capgemini" /></a></div> -->
			<!-- <div><a href="https://www.cdiscount.com" target="_blank"><img src="/static/img/sponsors/cdiscount.jpeg" alt="Cdiscount" /></a></div> -->
			<!-- <div><a href="https://www.conserto.pro" target="_blank"><img src="/static/img/sponsors/conserto.png" alt="Conserto" /></a></div> -->
			<!-- <div><a href="https://www.exalt-company.com/" target="_blank"><img src="/static/img/sponsors/exalt.png" alt="Exalt" /></a></div> -->
			<!-- <div><a href="https://floa.com/" target="_blank"><img src="/static/img/sponsors/floa.png" alt="Floa" /></a></div> -->
			<!-- <div><a href="https://infotel.com/" target="_blank"><img src="/static/img/sponsors/infotel.png" alt="Infotel" /></a></div> -->
			<!-- <div><a href="https://fr.ippon.tech/" target="_blank"><img src="/static/img/sponsors/ippon.png" alt="Ippon" /></a></div> -->
			<!-- <div><a href="https://kanban.quebec/" target="_blank"><img src="/static/img/sponsors/kanban-quebec.jpg" alt="Kanban Quebec" /></a></div> -->
			<!-- <div><a href="https://www.lectra.com/fr" target="_blank"><img src="/static/img/sponsors/lectra.png" alt="Lectra" /></a></div> -->
			<!-- <div><a href="https://www.adeo.com/leroy-merlin/" target="_blank"><img src="/static/img/sponsors/leroy_merlin_adeo.png" alt="Leroy Merlin Adeo" /></a></div> -->
			<!-- <div><a href="https://www.mademoiselledemargaux.com/" target="_blank"><img src="/static/img/sponsors/mademoiselledemargaux.jpg" alt="Mademoiselle de Margaux" /></a></div> -->
			<!-- <div><a href="https://www.malt.com/" target="_blank"><img src="/static/img/sponsors/malt.png" alt="Malt" /></a></div> -->
			<!-- <div><a href="https://www.mirane.com/" target="_blank"><img src="/static/img/sponsors/mirane.png" alt="Mirane" /></a></div> -->
			<!-- <div><a href="https://www.nexton-consulting.com/" target="_blank"><img src="/static/img/sponsors/nexton.jpg" alt="Nexton" /></a></div> -->
			<div><a href="https://okiwi.org" target="_blank"><img src="/static/img/sponsors/okiwi.jpg" alt="Okiwi" /></a></div>
			<!-- <div><a href="https://www.remo.co/" target="_blank"><img src="/static/img/sponsors/remo.jpg" alt="Remo" /></a></div> -->
			<!-- <div><a href="https://roti.express/" target="_blank"><img src="/static/img/sponsors/roti-express.png" alt="Roti Express" /></a></div> -->
			<!-- <div><a href="https://sii-group.com/fr-FR" target="_blank"><img src="/static/img/sponsors/sii.png" alt="SII" /></a></div> -->
			<!--<div><a href="https://www.thalesgroup.com/fr" target="_blank"><img src="/static/img/sponsors/thales.png" alt="Thales" /></a></div>-->
			<div><img src="/static/img/sponsors/why_not_you.png" alt="Vous ?" /></div>		  
		</div>
    </div>

<!-- /PAGE LISTE SPONSORS -->
