{% if page.url != "/index.html" %}
{% assign pageUrl = "/index.html" %}
{% endif %}
<div id="mobile-menu"></div>
<nav class="navigation closed clearfix">
    <a href="#" class="menu-toggle btn"><i class="fa fa-bars"></i></a>
    <ul class="sf-menu nav">
        <li><a href="https://docs.google.com/forms/d/1wcfVhWeihKnrMKsVh0-Nr8_L0SqXj62noKFs00SZhJI/viewform">Appel à orateur</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="{{pageUrl}}#contact">Contact</a></li>
        <li><a href="/2014/">Edition 2014</a></li>
    </ul>
</nav>
