{% if page.url != "/index.html" %}
{% assign pageUrl = "/index.html" %}
{% endif %}
<div id="mobile-menu"></div>
<nav class="navigation closed clearfix">
    <a href="#" class="menu-toggle btn"><i class="fa fa-bars"></i></a>
    <ul class="sf-menu nav">
		<li><a href="https://www.weezevent.com/agile-tour-bordeaux-2">Inscriptions</a></li>
		<li><a href="/programme.html">Programme</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="{{pageUrl}}#contact">Contact</a></li>
        <li><a href="/2014/index.html">Edition 2014</a></li>
    </ul>
</nav>
