/* Palette http://colorschemedesigner.com/#2R31Tt-pJw0w0 */

/* Palette color codes */

.primary-1 { background-color: #0A9F1C }
.primary-2 { background-color: #23772E }
.primary-3 { background-color: #036710 }
.primary-4 { background-color: #3ECF4F }
.primary-5 { background-color: #64CF71 }

.secondary-a-1 { background-color: #CD670D }
.secondary-a-2 { background-color: #9A612E }
.secondary-a-3 { background-color: #854104 }
.secondary-a-4 { background-color: #E69044 }
.secondary-a-5 { background-color: #E6A76F }

.secondary-b-1 { background-color: #A70A5D }
.secondary-b-2 { background-color: #7D2554 }
.secondary-b-3 { background-color: #6D033B }
.secondary-b-4 { background-color: #D33F8D }
.secondary-b-5 { background-color: #D366A0 }

/* end */



body{ 
	overflow-x: hidden;
	background-color:rgba(244,244,244,0)!important;
}

html { 
  background: url("../img/comingsoon/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100% !important;
  min-height: 100% !important;
  position:relative !important;
}
body {
    margin: 0 0 100px !important; /* bottom = footer height */
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
    height: 100px;
	background-color:#f4f4f4;
}

header{
  margin-left: auto;
  margin-right: auto;
  width:66%;
  margin-top:5%;
  text-align:center;
  background-color:white;
  border-radius: 14px; 
  -moz-border-radius: 14px; 
  -webkit-border-radius: 14px;
  padding:0.5em;
}
#content{
	margin-top:3em;
}
article{
  border-radius: 14px; 
  -moz-border-radius: 14px; 
  -webkit-border-radius: 14px; 
  border: 1px dashed;
  border-color: #0A9F1C;
  background-color:white;
  margin: 5% 33% 5% 33%;
  padding: 20px 0 0 0;
}

#note{
	text-align:center;
	margin:10px;
}
