#locaux td, th {
	padding-left: 5px;
	padding-right: 5px;
}

.page-section {
	padding-bottom: 20px;
	padding-top: 50px;
}

.large-space {
	margin-bottom: 100px;
}

.page-link:focus {
	color: #365f8d;
	text-decoration: none;
}

.page-link:hover {
	color: #365f8d;
	text-decoration: underline;
}
