/* topbar : #2C495A */
/* bleu clair : #4478b2*/
/* bleu nuit : #0d1d31*/

#sessionize.sessionize-wrapper .sz-speaker__sessions a:link, #sessionize.sessionize-wrapper .sz-speaker__sessions a:visited, #sessionize.sessionize-wrapper .sz-speaker__sessions a:hover {
	color: #2C495A;
}

#sessionize a:link,
#sessionize a:visited,
#sessionize a:hover {
   color: white;
}

#sessionize.sessionize-wrapper .sz-day__title {
	font-size: 40px;
}

#sessionize.sessionize-wrapper .sz-tabs__item--active {
	background-color: #2C495A;
}

#sessionize.sessionize-wrapper .sz-tabs__link {
	background-color: #babbbc;
}

#sessionize.sessionize-wrapper .sz-cssgrid .sz-cssgrid__track-label {
	background-color: #2C495A;
}

#sessionize.sessionize-wrapper .sz-session__room {
	background-color: #2C495A;
}

#sessionize.sessionize-wrapper .sz-speaker.sz-speaker--full .sz-speaker__name {
	color: #ffffff;
}

#sessionize.sessionize-wrapper .sz-speaker.sz-speaker--full .sz-speaker__tagline {
	color: #ffffff;
}
#sessionize.sessionize-wrapper .sz-session__description {
	color: black;
}

