@media print {
    li {page-break-inside: avoid;}
    * {-webkit-print-color-adjust:exact;}
}

body {
	font-family: sans-serif;
	width:20cm;
	margin-top: .2cm;
}
li{
	width: 8.8cm;
	height: 6.7cm;
	float: left;
	background: url(/assets/img/agiletour-bordeaux-2014.png);
	background-position: 95% 5%;
	background-repeat: no-repeat;
	background-size: 35%;
	margin: .2cm .1cm;
}
p {
	text-align: center;
	width: 100%;
	margin: .2cm 0;
}
.type {
	height: 100%;
	width:15%;
	float: left;
	background-color: #009fe3;
    margin: 0;
    padding: 0;
}
.type span {
	display: block;
	-webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
         -o-transform: rotate(270deg);
            transform: rotate(270deg);
	font-size: larger;
	font-weight: bolder;
	position: relative;
	top: 4.5cm;
	left: 0.4cm;
}
.info {
	margin-top: .9cm; 
	height: 4.5cm;
	width: 85%;
	margin-left: .9cm;
	overflow: hidden;
}
.fullname {
	font-size: .7cm;
	color: #009fe3;
}
.twitter, .site_web {
	color: #AAA;
}
.site_web.small, .intitule_du_poste.small { font-size: smaller; }

.intitule_du_poste, .entreprise {
	color: #bccf02;
}
.intitule_du_poste {
	font-size: .4cm;
}
.entreprise {
	font-size: .5cm;
}
.sponsors {
	height: 1cm;
	width: 100%;
	bottom: 5%;
	text-align: center;
}
.sponsors img {
	width: auto;
	height: 100%;
	margin: 0 .3cm;
}