
{% assign BASE_PATH = site.BASE_PATH %}
<body>
<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner">
    <a class="brand"  href="{{ BASE_PATH }}/"><img src="{{ BASE_PATH }}/img/logo.png" alt="logo agile tour 2012"/></a>
    <div class="container" >
    <div style="height: 150px; background-image: url('{{ BASE_PATH }}/img/banniere.png'); background-repeat: no-repeat;" class="nav-collapse">
      <ul class="nav">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include pages_list %}
      </ul>
    </div>
    </div>
  </div>
</div>
{{ content }}

